
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Ela"/>

    <title>{{title}} - {{appName}}</title>
    
    <link href="{{baseUrl}}/img/favicon.png" rel="shortcut icon"/>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/app.css" rel="stylesheet"/>

    <script src="{{baseUrl}}/js/jquery.js"></script>
    <script src="{{baseUrl}}/js/bootstrap.bundle.min.js"></script>
    <script src="{{baseUrl}}/js/app.js"></script>

 