<!doctype html>
<html lang="en">

<head>
  {{> _head }}
</head>

<body class="tasks">

  <div class="wrapper">
    <div class="inner_wrapper">

      <div class="header">
        <div class="page">
          <h4 class="logo" title="{{appName}}">{{logo}}</h4>
          {{#if user}}
          <nav class="nav nav_header">
            <a class="nav_link active" href="{{baseUrl}}/user/profile">
              Hello {{user.name}} 
              <span>
              {{#if user.image}}
              <img src="{{user.image}}" alt="" style='width: 16px;'> 
              {{else}}
              &#9786;
              {{/if}} 
              </span>
            </a>
            <a class="nav_link" href="{{baseUrl}}/user/logout">Logout</a>
          </nav>
          {{/if}}
        </div>
      </div>

      <div class="tasks_wrapper">
        {{{body}}}
      </div>

      {{> _footer }}

    </div>
  </div>
</body>

</html>