<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Ela"/>

    <title>{{title}} - {{appName}}</title>
    <link href="{{baseUrl}}/css/foundation.min.css" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/foundation-icons.css" rel="stylesheet"/>
    <link href="{{baseUrl}}/css/app.css" rel="stylesheet"/>

    <script src="{{baseUrl}}/js/jquery.js"></script>
    <script src="{{baseUrl}}/js/foundation.js"></script>
    <script src="{{baseUrl}}/js/app.js"></script>
  </head>

  <body class="home">

    <div class="wrapper">

            {{{body}}}

          <footer class="footer">
            <div class="inner">
              <p>&copy; {{copyright}} Full Stack Exercise Using Node.js/Mongo DB</p>
            </div>
          </footer>
    </div>
  </body>
</html>
